@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --color-gray: #24282a;
    --color-green: #1c6b1c;
    --color-yellow: #e7eb02;
    --color-blue: #212c95;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--color-gray);
}

header {
    background-color: var(--color-green);
    color: var(--color-yellow);
    padding: 30px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0;
    text-decoration: none;
    text-align: center;
    word-spacing: 10px;
}

header a {
    color: inherit;
}

header div a:hover {
    color: white;
    transition: color 500ms;
}

#about {
    text-align: center;
    padding: 32px;
    color: white;
    font-size: 20px;
    max-width: 800px;
    margin: 32px auto;
}

#socialMedias {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    line-height: normal;
    margin: 0 0;
    text-align: center;
    padding: 50px 50px;
}

#socialMedias a {
    word-spacing: 20px;
    color: var(--color-blue);
}

#socialMedias a:hover {
    color: white;
}

.content-page {
    background-color: white;
    max-width: 100%;
    max-height: 100%;
}

#wrapper {
    text-align: center;
    padding: 32px;
    color: white;
}

/* Cards */
.cards {
    max-width: 71%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
    gap: 50px;
}

.card {
    border: 2px solid var(--color-gray);
}

.card__image-container img {
    width: 100%;
}

.card__content {
    font-size: 24px;
    font-weight: bold;
}

.card__content,
.card__info {
    padding: 24px;
    text-align: center;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
}

.card__price {
    background-color: white;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* Modal */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    top: 8px;
    cursor: pointer;
}

/* Modal.Active */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 50%;
}

.modal-content.active img {
    width:100%; height:100%;
    object-fit: cover;
}

